@import "tailwindcss";


  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal
  }

  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal
  }

  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal
  }

  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal
  }

  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal
  }

  @font-face {
    font-family: "Switzer";
    src: url("./assets/fonts/Switzer-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal
  }

